
@import "variables.less";
@import "variables-linus.less";

// Set body padding for fixed navbar
body.fixed-navbar {
	padding-top: @navbar-height * 1.4;
}
body.fixed-navbar .postedit-container {
	top: @navbar-height * 1.1;
}
.postedit-container {
	z-index: @zindex-modal;
}
.postedit {

}

/* Page footer */
.footer {
	margin-top: @footer-margin-top;
	padding-bottom: floor(@footer-padding-vertical / 2);
	padding-top: @footer-padding-vertical;
	padding-left: @footer-padding-horizontal;
	padding-right: @footer-padding-horizontal;
}
.footer-default {
	color: @footer-default-color;
	background-color: @footer-default-bg;
	border-color: @footer-default-border;

	a {
    color: @footer-default-link-color;

    &:hover,
    &:focus {
      color: @footer-default-link-hover-color;
    }
  }
}
.footer-inverse {
	color: @footer-inverse-color;
	background-color: @footer-inverse-bg;
	border-color: @footer-inverse-border;

	a {
		color: @footer-inverse-link-color;
		font-weight: @state-link-weight;

		&:hover,
		&:focus {
			color: @footer-inverse-link-hover-color;
		}
	}
}
.footericon {
	margin-right: floor(@padding-base-horizontal / 2);
}

/* TOC */
#toc {
	h2 {
		font-size: @font-size-h3;
	}

	ul {
		list-style: none;
		padding-left: @toc-padding-left;

		.tocnumber {
			display: inline-block;
			width: @toc-number-width;
		}
		.toctext {

		}
	}

	&.affix {
		max-width: @toc-max-width;
	}
}
// Affix component
.affix,.affix-top {
	position: static;
}
@media (min-width: @screen-md-min) {
  .affix {
    position: fixed;
  }
}

// Copied from bootstrap 3.4 to ensure backwards compatiblity
// (blockquote > small is deprecated)
blockquote {
	small {
		display: block;
		font-size: 80%; // back to default font-size
		line-height: @line-height-base;
		color: @blockquote-small-color;

		&:before {
			content: '\2014 \00A0'; // em dash, nbsp
		}
	}
}
.blockquote-reverse {
	small {
		&:before { content: ''; }
		&:after {
			content: '\00A0 \2014'; // nbsp, em dash
		}
	}
}

/* Contextual text colors */
// Need to overwrite colors in text states for some reason
.text-emphasis-variant-a(@color) {
	color: @color;
	font-weight: @state-link-weight;

	&:hover,
	&:focus {
		color: darken(@color, 10%);
	}
}
.text-muted a {
	.text-emphasis-variant-a(@text-muted);
}
.text-primary a {
	.text-emphasis-variant-a(@brand-primary);
}
.text-success a {
	.text-emphasis-variant-a(@state-success-text);
}
.text-danger a {
	.text-emphasis-variant-a(@state-danger-text);
}
.text-warning a {
	.text-emphasis-variant-a(@state-warning-text);
}
.text-info a {
	.text-emphasis-variant-a(@state-info-text);
}
.bg-primary a {
	color: inherit;
}
// .bg-info a,
// .bg-success a,
// .bg-danger a,
// .bg-warning a {
// 	color: inherit;
// 	font-weight: @state-link-weight;
// }

/* Dealing with long URLs */
.wrap-around() {
	word-wrap:       break-word;
	word-break:      break-word;
	-webkit-hyphens: auto;
	-moz-hyphens:    auto;
	hyphens:         auto;
}
.url {
	.wrap-around();
}

.redirectMsg p {
    height: auto;
}

/* Headlines */
.pagesubtitle {
    font-size: 1.2em;
    margin-bottom: auto;
}
.mw-headline {
	// text-shadow: 1px 1px 0 rgb(255,255,255);
}
h2, h3, h4, h5, h6 {
	.mw-editsection {
		opacity: .6;
	}
	&:hover {
		.mw-editsection {
			opacity: .9;
		}
	}
}

/* Editform */
#wpTextbox1 {
	width: 100%;
}

/* Category links */
#catlinks {
	border-top: 1px solid @page-header-border-color;
	margin-top: 2em;
	padding: 1em 0;
	padding-top: ((@line-height-computed / 2) - 1);
	font-size: @font-size-small;
}
#catlinks #mw-normal-catlinks > a {

}
#catlinks li {
	border-left: 1px solid;
}
#catlinks li:first-child {
	border-left: none;
}


/**
    BS3 Multi level dropdown
    http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3
*/
.dropdown-submenu {
    position: relative;

	// Rotate caret
	.caret {
		border-left:   @caret-width-base dashed;
		border-left:   @caret-width-base solid ~"\9"; // IE8
		border-top:    @caret-width-base solid transparent;
		border-bottom: @caret-width-base solid transparent;

		float: right;
		margin-right: @caret-width-base * -1;
		margin-top: @padding-base-vertical;
	}

	> .dropdown-menu {
	    top: 0;
	    left: 100%;
	    margin-top: @padding-base-vertical * -1;
	    margin-left: -1px;
		border-radius: @border-radius-base;
	}

	&.pull-left {
	    float: none;

		> .dropdown-menu {
		    left: -100%;
		    margin-left: 10px;
			border-radius: @border-radius-base;
		}
	}

	&:hover {
		> .dropdown-menu {
		    display: block;
		}
		.caret {

		}
	}
}

.dropup .dropdown-submenu {
	> .dropdown-menu {
		top: auto;
	    bottom: 0;
	    left: 100%;
		margin-bottom: -1px;
	    margin-left: -1px;
		border-radius: @border-radius-base;
	}
}


/**
	BS3 style Info-Box for MediaWiki
*/
.infobox {
	float: right !important;
}
